.container {
  height: calc(100vh - 60px - 60px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 64px;
  font-weight: 700;

  background: #cbcbcb;
}
