.logo-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.video-course-text {
  margin: 0 3px;

  font-family: "SourceSansPro-Bold", monospace;
  font-size: 18px;
  font-weight: 700;

  color: #FFFFFF;
}
