<div class="form-layout">
  <div class="form-wrapper">
    <h1 class="header">New Course</h1>
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="label-wrapper">
        <label for="name">Title:</label>
        <small>*required</small>
      </div>
      <input
        formControlName="name"
        id="name"
        class="field"
        type="text"
        placeholder="Text input"
        required
      >

      <div class="label-wrapper">
        <label for="description">Description:</label>
        <small>*required</small>
      </div>
      <textarea
        formControlName="description"
        id="description"
        class="field"
        placeholder="Add description"
        required
      ></textarea>

      <app-duration-control formControlName="length"></app-duration-control>
      <app-date-control formControlName="date"></app-date-control>
      <app-authors-control formControlName="authors"></app-authors-control>

      <div class="button-group">
        <button
          (click)="cancel()"
          type="button"
        >Cancel</button>
        <button
          type="submit"
          [disabled]="form.invalid"
        >Save</button>
      </div>
    </form>
  </div>
</div>
